
.chart-view {
    display: flex;
    flex-flow: row;
  }
  
  .chart-wrapper {
    display: block;
    width: 200px;
    height: 200px;
  }
  
  .legend {
    display: flex;
    flex-flow: column;
    margin-left: 20px;
  }
  
  .legend-item {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
    margin-right: 10px;
    align-items: center;
  }
  
  .legend-item-colour {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .legend-item-value{
    flex-grow: 2;
    text-align: right;
    margin-left: 10px;
  }
  .legend-item-name{
    flex-grow: 2;
  }
  
  
  
  .chart-tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
  }
  .chart-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .chart-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
  }
  .chart-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
  }
  .chart-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
  }
  .chart-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
  }
  .chart-tooltip-show {
    opacity: 1;
  }